[Unit]
Description=Detect and disable internal eMMC cards

[Service]
Type=oneshot
ExecStart=/bin/emmc-disabler.py

[Install]
WantedBy=multi-user.target
